
@font-face {
  font-family: "Glyphicons Halflings";
  src: url('../fonts/glyphicons-halflings-regular.eot?1428909569');
  src: url('../fonts/glyphicons-halflings-regular.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff?1428909569') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf?1428909569') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg?1428909569') format('svg');
}
@font-face {
  font-family: "Georgia";
  src: url('../fonts/GeorgiaItalic.ttf?1429018297') format('truetype');
}
@font-face {
  font-family: "Gotham";
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?1428909569');
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/GothamProRegular/GothamProRegular.woff?1428909569') format('woff'), url('../fonts/GothamProRegular/GothamProRegular.ttf?1428909569') format('truetype');
}
@font-face {
  font-family: "GothamBold";
  src: url('../fonts/GothamProBold/GothamProBold.eot?1428909569');
  src: url('../fonts/GothamProBold/GothamProBold.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/GothamProBold/GothamProBold.woff?1428909569') format('woff'), url('../fonts/GothamProBold/GothamProBold.ttf?1428909569') format('truetype');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

*:focus {
  outline: none;
  box-shadow: none;
}

html, body {
    height: 100%;
}

body {
    color: #61626b;
    font: 14px Georgia, "Helvetica", "Arial", sans-serif;
    overflow-y:scroll;
}

h1, h2 {
  font: 46px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
  letter-spacing: 3px;
}

h2 {
  font-size: 36px;
}

h3 {
    font: 16px GothamBold, "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    letter-spacing: 0;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.btn {
  font: 13px GothamBold, "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url(PIE.htc);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.btn-lg {
    padding: 14px 28px;
}

.btn-sm {
    padding: 11px 20px 8px 20px;
    font-size: 10px;
    line-height: 1em;
}

.btn:hover {
  background: #cd3c5e;
}

.btn-pink {
  background: #c24a6a;
  color: #fff;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #61626b;
  width: 220px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: #fff;
}

.btn-grey {
    background-color: #606166;
    color: #ffffff;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background-color: #5a5b60;
    color: #ffffff;
}

.btn.dropdown-toggle {
    padding: 11px 11px 6px 12px;
    background: #ffffff;
    color: #37383e;
}

.btn.dropdown-toggle .ic {
    color: #37383e;
    display: inline-block;
    min-width: 13px;
    margin: -1px 0 -3px 0;
    text-align: center;
}

.btn.dropdown-toggle:hover .caret {
    color: #df496c
}

.top-line-pink {
    border-top: solid 2px #cd3c5e;
}

.bottom-line-grey {
    border-bottom: solid 1px #e4e4e4;
}

.underline-small {
    width: 20px;
    height: 1px;
    border-bottom: 2px solid #c24a6a;
    display: inline-block;
}

.underlined:after {
    content: ' ';
    display: block;
    width: 20px;
    height: 1px;
    margin: 10px 0 0 0;
    border-bottom: solid 2px #c24a6a;
}

.pointer {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #cd3c5e;
    z-index: 100;
}

.progress {
    height: 6px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: none;
}

.progress .progress-bar {
    background-color: #cd3c5e;
    box-shadow: none;
}

.zoom-controls {
    padding: 0;
    overflow: hidden;
}

.center {
  text-align: center;
}

.zoom-controls .zoom-track {
    position: relative;
    width: 100%;
    min-width: 50px;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: #4b4b53;
    cursor: pointer;
}

.zoom-controls .zoom-track .zoom-handle {
    position: absolute;
    left: 50px;
    top: -7px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: #ffffff;
    cursor: pointer;
}

.zoom-controls .zoom-track .zoom-handle:hover {
    box-shadow: 0 0 4px #37383e;
}

.zoom-controls .zoom-track .zoom-handle:active {
    background-color: #d7d7d8;
}

.zoom-controls .zoom-track .good-quality-zone {
    float: left;
    width: 180px;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: #a5a6aa;
}

.toolbar .dropup {
    position: relative;
    line-height: 1em; !important;
}




.dropup .dropdown-menu {
    margin-bottom: 19px;
    border: none;
    padding: 0 0 0 0;
}

.dropup .dropdown-menu li {
    min-width: 260px;
    padding: 12px 10px 8px 10px;
    border: none;
    border-left: solid 3px #ffffff;
    cursor: pointer;
}

.dropup .dropdown-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropup .dropdown-menu li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dropup .dropdown-menu li.active,
.dropup .dropdown-menu li.active:hover {
    border-color: #c24a6a;
}

.dropup .dropdown-menu li:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.dropup .dropdown-menu li>a {
    font: 14px GothamBold, "Helvetica", "Arial", sans-serif;
    line-height: 12px;
    padding: 3px 8px 3px 4px;
    margin: 0 0 3px 0;
    letter-spacing: 0;
    color: #37383e;
    background-color: transparent;
}

.dropup .dropdown-menu li.active>a {
    color: #37383e;
}

.dropup .dropdown-menu li.active>a:hover {
    background-color: transparent;
}

.dropup .dropdown-menu li .ic {
    float: left;
    font-size: 18px;
    padding: 6px 4px 6px 4px;
    margin: 6px 8px 4px 3px;
    border-radius: 2px;
    background-color: #606166;
    color: #ffffff;
}

.dropup .dropdown-menu li .item-description {
    display: block;
    font-size: 13px;
    padding: 6px 4px 6px 4px;
}

.dropup .dropdown-menu li:last-child:after {
    content: ' ';
    position: absolute;
    left: 16px;
    bottom: -10px;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    border-top: solid 5px #ffffff;
    z-index: 1001;
}

.dropup .dropdown-menu li:last-child:hover:after{
    border-top: solid 5px #e5e5e5;
}

.dropup.dropup-dark .btn.dropdown-toggle {
    background-color: #232428;
    color: #ffffff;
}

.dropup.dropup-dark .btn.dropdown-toggle .ic {
    color: #ffffff;
}

.dropup.dropup-dark .dropdown-menu li {
    border-left: solid 3px #232428;
    background-color: #232428;
}

.dropup.dropup-dark .dropdown-menu li.active,
.dropup.dropup-dark .dropdown-menu li.active:hover {
    border-color: #c24a6a;
}

.dropup.dropup-dark .dropdown-menu li:hover,
.dropup.dropup-dark .dropdown-menu li.active:hover {
    background-color: #1c1d20;
}

.dropup.dropup-dark .dropdown-menu li>a {
    color: #ffffff;
}

.dropup.dropup-dark .dropdown-menu li .item-description {
    color: #7f7f7f;
}

.dropup.dropup-dark .dropdown-menu li:last-child:after {
    border-top: solid 5px #1c1d20;
}

.container-content .icon-logo {
    font-size: 51px;
}