
@font-face {
  font-family: "Glyphicons Halflings";
  src: url('../fonts/glyphicons-halflings-regular.eot?1428909569');
  src: url('../fonts/glyphicons-halflings-regular.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff?1428909569') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf?1428909569') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg?1428909569') format('svg');
}
@font-face {
  font-family: "Georgia";
  src: url('../fonts/GeorgiaItalic.ttf?1429018297') format('truetype');
}
@font-face {
  font-family: "Gotham";
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?1428909569');
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/GothamProRegular/GothamProRegular.woff?1428909569') format('woff'), url('../fonts/GothamProRegular/GothamProRegular.ttf?1428909569') format('truetype');
}
@font-face {
  font-family: "GothamBold";
  src: url('../fonts/GothamProBold/GothamProBold.eot?1428909569');
  src: url('../fonts/GothamProBold/GothamProBold.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/GothamProBold/GothamProBold.woff?1428909569') format('woff'), url('../fonts/GothamProBold/GothamProBold.ttf?1428909569') format('truetype');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove-circle:before {
  content: "\e088";
}

*:focus {
  outline: none;
  box-shadow: none;
}

html, body {
    height: 100%;
}

body {
    color: #61626b;
    font: 14px Georgia, "Helvetica", "Arial", sans-serif;
    overflow-y:scroll;
}

h1, h2 {
  font: 46px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 30px 0 30px 0;
  letter-spacing: 3px;
}

h2 {
  font-size: 36px;
}

h3 {
    font: 16px GothamBold, "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    letter-spacing: 0;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

.btn {
  font: 13px GothamBold, "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  behavior: url(PIE.htc);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.btn-lg {
    padding: 14px 28px;
}

.btn-sm {
    padding: 11px 20px 9px 20px;
    font-size: 10px;
    line-height: 1em;
}

.btn:hover {
  background: #cd3c5e;
}

.btn-pink {
  background: #c24a6a;
  color: #fff;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #61626b;
  width: 220px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: #fff;
}

.btn-grey {
    background-color: #606166;
    color: #ffffff;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background-color: #5a5b60;
    color: #ffffff;
}

.top-line-pink {
    border-top: solid 2px #cd3c5e;
}

.bottom-line-grey {
    border-bottom: solid 1px #e4e4e4;
}

.underline-small {
    width: 20px;
    height: 1px;
    border-bottom: 2px solid #c24a6a;
    display: inline-block;
}

.underlined:after {
    content: ' ';
    display: block;
    width: 20px;
    height: 1px;
    margin: 10px 0 0 0;
    border-bottom: solid 2px #c24a6a;
}

.pointer {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top: 6px solid #cd3c5e;
    z-index: 100;
}

.progress {
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: none;
}

.progress .progress-bar {
    background-color: #cd3c5e;
    box-shadow: none;
}
