@font-face {
  font-family: "FontIcomoon";
  src: url('../fonts/font-icomoon/icomoon.eot?1428414278');
  src: url('../fonts/font-icomoon/icomoon.eot?&1428414278#iefix') format('embedded-opentype'), url('../fonts/font-icomoon/icomoon.woff?1428414278') format('woff'), url('../fonts/font-icomoon/icomoon.ttf?1428414278') format('truetype'), url('../fonts/font-icomoon/icomoon.svg?1428414278') format('svg');
}

.ic {
  font-family: 'FontIcomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #c24a6a;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
	content: "\e612";
}

.icon-view03:before {
	content: "\e613";
}

.icon-view02:before {
	content: "\e614";
}

.icon-view01:before {
	content: "\e615";
}

.icon-ddown-ic:before {
	content: "\e616";
}

.icon-plus-ic:before {
	content: "\e617";
}

.icon-minus-ic:before {
	content: "\e618";
}

.icon-upload-ic:before {
	content: "\e619";
}

.icon-view-ic:before {
	content: "\e61a";
}

.icon-check-ic:before {
	content: "\e61b";
}

.icon-active-arrow:before {
	content: "\e61c";
}

.icon-close-ic:before {
	content: "\e611";
}

.icon-search-ic:before {
	content: "\e600";
}

.icon-right-ic:before {
	content: "\e601";
}

.icon-left-ic:before {
	content: "\e602";
}

.icon-icon06:before {
	content: "\e603";
}

.icon-icon05:before {
	content: "\e604";
}

.icon-icon04:before {
	content: "\e605";
}

.icon-icon03:before {
	content: "\e606";
}

.icon-icon01:before {
	content: "\e607";
}

.icon-image_icon:before {
	content: "\e608";
}

.icon-resize_icon:before {
	content: "\e609";
}

.icon-upload_icon:before {
	content: "\e60a";
}

.icon-vk:before {
	content: "\e60b";
}

.icon-ins:before {
	content: "\e60c";
}

.icon-fb:before {
	content: "\e60d";
}

.icon-scrolled:before {
	content: "\e60e";
}

.icon-scroll:before {
	content: "\e60f";
}

.icon-logo:before {
	content: "\e610";
}

