.wrapper-main {
    position: relative;
    height: 100%;
    min-height: 500px;
}

.wrapper-constructor {
    position: absolute;
    top: 163px;
    bottom: 0;
    padding-bottom: 173px;
    min-height: 400px;
    width: 100%;
}

/*Navbar start*/
.navbar {
  margin: 0;
  line-height: 50px;
}
.navbar .container-navbar {
    padding: 18px 0 10px 0;
}
.navbar li a {
  font: 12px GothamBold, "Helvetica", "Arial", sans-serif;
  color: #61626b;
  text-transform: uppercase;
  font-weight: inherit;
  padding: 18px 10px;
}
.navbar .navbar-brand {
  font: 26px Gotham, "Helvetica", "Arial", sans-serif;
  color: #61626b;
  text-transform: none;
  font-weight: 600;
  margin: 0 20px 0 0;
  padding: 0;
}
.navbar .shape-nav {
  float: left;
  margin: 10px 0 0 0;
}
.navbar .capp {
  margin: 10px 0 0 -3px;
  display: inline-block;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
  color: #c24a6a;
}

.navbar .navbar-right {
    margin-right: -30px;
}

.navbar .navbar-right li {
  margin-right: 15px;
  cursor: pointer;
}

.navbar .navbar-right li:last-child {
  margin-right: 0;
  cursor: pointer;
}

.navbar .navbar-right li .ic {
  font-size: 16px;
  color: #61626b;
}
.navbar .navbar-right li .ic:hover {
  color: #c24a6a;
}
/*Navbar end*/

/*Constructor heading start*/
.wrapper-heading {
    height: 80px;
}

.wrapper-heading .row-heading {
    position: relative;
}

.wrapper-heading .header {
    margin: 37px 0 10px -15px;
}

.wrapper-heading .header.underlined:after {
    margin: 9px 0 0 1px;
}

.wrapper-heading .group-preview {
    position: absolute;
    top: 23px;
    right: 0;
}

.wrapper-heading .group-preview .btn-preview {
    padding: 13px 20px 10px 18px;
}

.wrapper-heading .group-preview .btn-preview.disabled {
    background-color: #e5e5e5;
    color: #52535d;
}

.wrapper-heading .group-preview .btn-preview .ic {
    font-size: 11px;
    color: #ffffff;
}

.wrapper-heading .group-preview .btn-preview.disabled .ic {
    color: #52535d;
}
/*Constructor heading end*/

/*Constructor workbench start*/
.wrapper-constructor .placeholder-toolbox {
    position: relative;
    width: 100%;
    height: 173px;
    bottom: 0;
}

.wrapper-constructor .container-constructor {
    height: 100%;
    min-height: 500px;
    max-height: 800px;
    padding: 0 0 0 0;

}

.wrapper-constructor .container-constructor .row-constructor,
.wrapper-constructor .container-constructor .row-constructor .col-constructor {
    height: 100%;
    overflow: hidden;
}

.wrapper-constructor .container-constructor .row-constructor .col-constructor {
}

/*Constructor workbench end*/

/*Screen select image start*/
.wrapper-constructor .col-constructor .screen {
}

.wrapper-constructor .col-constructor .screen-select-image {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border: dashed 2px #d7d7d7;
    border-radius: 3px;
    background-color: #f3f3f5;
    text-align: center;
}

.wrapper-constructor .col-constructor .screen-select-image .select-image-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.wrapper-constructor .col-constructor .screen-select-image h4{
    font-size: 70px;
    color: #4c4c56;
}
/*TODO make common style */
.wrapper-constructor .col-constructor .screen-select-image .underlined:after {
    width: 30px;
    margin: 20px auto 0 auto;
}
.wrapper-constructor .col-constructor .screen-select-image .desc {
    width: 240px;
    margin: 0 auto 20px auto;
    line-height: 18px;
}

.wrapper-constructor .col-constructor .screen-select-image .btn-upload {
    margin: 25px 0 0 0;
    padding: 12px 25px 11px 25px;
}

.wrapper-constructor .col-constructor .screen-select-image .progress-uploading {
    width: 600px;
    margin: 0 auto 75px auto;
}

.wrapper-constructor .col-constructor .screen-select-image .desc-uploading,
.wrapper-constructor .col-constructor .screen-select-image .progress-uploading,
.wrapper-constructor .col-constructor .screen-select-image.uploading .desc-select,
.wrapper-constructor .col-constructor .screen-select-image.uploading .btn-upload {
    display: none;
}

.wrapper-constructor .col-constructor .screen-select-image.uploading .desc-uploading,
.wrapper-constructor .col-constructor .screen-select-image.uploading .progress-uploading {
    display: block;
}
/*Screen select image end*/

/*Screen image preview start*/
.wrapper-constructor .col-constructor .screen-image {
    width: 100%;
}

.wrapper-constructor .col-constructor .screen-image .wrapper-image {
    text-align: center;
}

.wrapper-constructor .col-constructor .screen-image .wrapper-image img {
    max-height: 100%;
}
/*Screen image preview end*/

/*Constructor toolbox start*/
.wrapper-tools {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 83px;
    background-color: #383840;
    z-index: 99;
}

.wrapper-tools .col-tools {
    position: relative;
}

.wrapper-tools .tools {
    list-style: none;
    padding: 0;
    margin: 0 -15px 0 -15px;
}

.wrapper-tools .tools .tool {
    position: relative;
    padding: 0 2px 0 68px;
    height: 83px;
    cursor: pointer;
}

.wrapper-tools .image-ready .tools .tool:hover {
    background-color: #32323a;
}

.wrapper-tools .tools .tool .circle {
    position: absolute;
    top: 22px;
    left: 16px;
    display: block;
    width: 43px;
    height: 42px;
    text-align: center;
    padding-top: 12px;
    vertical-align: middle;
    border-radius: 22px;
    border: solid 2px #ffffff;
    background-color: #ffffff;
    font: 14px GothamBold, "Helvetica", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 16px;
    color: #37383e;
}

.wrapper-tools .no-image .tools .tool .circle {
    border-color: #4f5053;
    background-color: #4f5053;
    color: #ffffff;
}

.wrapper-tools .tools .tool .title {
    display: block;
    margin: 25px 0 0 0;
    font: 13px GothamBold, "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
}

.wrapper-tools .tools .tool .title.underlined:after {
    margin: 6px 0 0 0;
}

.wrapper-tools .tools .tool .value {
    display: block;
    margin: 4px 0 0 0;
    color: #ffffff;
    font-size: 12px;
}

.wrapper-tools .tools .tool.tool-order .btn-order{
    float: right;
    margin-top: 27px;
    padding-left: 23px;
    padding-right: 23px;
}

.wrapper-tools .no-image .tools .tool.tool-order .btn-order {
    background-color: #606166;
    color: #ffffff;
}

.wrapper-tools .no-image .tools .tool.tool-order .btn-order:hover,
.wrapper-tools .no-image .tools .tool.tool-order .btn-order:active,
.wrapper-tools .no-image .tools .tool.tool-order .btn-order:focus {
    background-color: #606166;
    color: #ffffff;
}

.wrapper-tools .col-tools .pointer {
    position: absolute;
    top: 0;
}

.wrapper-tools .mode-image .pointer {
    left: 30px;
}
.wrapper-tools .mode-size .pointer {
    left: 323px;
}
.wrapper-tools .mode-material .pointer {
    left: 614px;
}

.wrapper-tools .mode-image .tools .tool-image .circle,
.wrapper-tools .mode-size .tools .tool-size .circle,
.wrapper-tools .mode-material .tools .tool-material .circle {
    border-color: #df496c;
    background-color: #ffffff;
    color: #37383e;
}
/*Constructor toolbox end*/

/*Constructor toolbar start*/
.wrapper-toolbar{
    width: 100%;
    height: 87px;
    position: fixed;
    bottom: 83px;
    padding: 10px 0 0 0;
    background-color: #ffffff;
}

.wrapper-toolbar .toolbar {
    position: relative;
    display: block;
    width: 530px;
    height: 50px;
    margin:0 auto 0 auto;
    padding: 9px 12px 2px 12px;
    background-color: #383840;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(250,250,250,0.7);
}

.wrapper-toolbar .toolbar .tool-item {
    display: none;
    float: left;
    padding: 0;
}

.wrapper-toolbar .toolbar .hint-item {
    display: block;
    width: 230px;
    position: absolute;
    right: -243px;
    font-size: 13px;
}

.wrapper-toolbar .toolbar .tool-item.item-auto-improve {
    float: right;
    color: #ffffff;
    font-size: 12px;
}

.wrapper-toolbar .toolbar .tool-item.item-auto-improve input[type="checkbox"] {
    margin-top: 1px;
}


.wrapper-toolbar .toolbar.set-cropper .tool-item.item-zoomer {
    padding: 4px 9px 6px 3px;
}

.wrapper-toolbar .toolbar .tool-item.item-zoomer .minus,
.wrapper-toolbar .toolbar .tool-item.item-zoomer .plus {
    float: left;
    width: 10px;
    height: 10px;
    color: #ffffff;
    cursor: pointer;
}

.wrapper-toolbar .toolbar .tool-item.item-zoomer .minus:hover,
.wrapper-toolbar .toolbar .tool-item.item-zoomer .plus:hover {
    color: #d7d7d8;
}

.wrapper-toolbar .toolbar .tool-item.item-zoomer .minus {
    padding: 11px 16px 11px 1px;
    font-size: 2px;
}

.wrapper-toolbar .toolbar .tool-item.item-zoomer .plus {
    padding: 5px 16px 18px 1px;
    font-size: 15px;
}

.wrapper-toolbar .toolbar .tool-item.item-zoomer .zoom-controls {
    float: left;
    width: 306px;
    padding: 10px 14px 10px 14px;
}

.wrapper-toolbar .toolbar .tool-item.item-change-size {
    float: right;
}

.wrapper-toolbar .toolbar .tool-item.item-change-size .btn-change-size {
    padding-left: 10px;
    padding-right: 10px;
}


  /* Tool set */
.wrapper-toolbar .toolbar.set-image .tool-item.item-change-image,
.wrapper-toolbar .toolbar.set-image .tool-item.item-auto-improve,
.wrapper-toolbar .toolbar.set-cropper .tool-item.item-zoomer,
.wrapper-toolbar .toolbar.set-cropper .tool-item.item-change-size {
    display: block;
}
/*Constructor toolbar end*/


