@font-face {
  font-family: "FontIcomoon";
  src: url('../fonts/font-icomoon/icomoon.eot?1428414278');
  src: url('../fonts/font-icomoon/icomoon.eot?&1428414278#iefix') format('embedded-opentype'), url('../fonts/font-icomoon/icomoon.woff?1428414278') format('woff'), url('../fonts/font-icomoon/icomoon.ttf?1428414278') format('truetype'), url('../fonts/font-icomoon/icomoon.svg?1428414278') format('svg');
}
@font-face {
  font-family: "Gotham";
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?1428909569');
  src: url('../fonts/GothamProRegular/GothamProRegular.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/GothamProRegular/GothamProRegular.woff?1428909569') format('woff'), url('../fonts/GothamProRegular/GothamProRegular.ttf?1428909569') format('truetype');
}
@font-face {
  font-family: "GothamBold";
  src: url('../fonts/GothamProBold/GothamProBold.eot?1428909569');
  src: url('../fonts/GothamProBold/GothamProBold.eot?&1428909569#iefix') format('embedded-opentype'), url('../fonts/GothamProBold/GothamProBold.woff?1428909569') format('woff'), url('../fonts/GothamProBold/GothamProBold.ttf?1428909569') format('truetype');
}
body {
  color: #61626b;
  font: 14px Georgia Arial Helvetica;
}

h1 {
  font: 46px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 30px 0 40px 0;
}

h2 {
  font: 36px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 30px 0 40px 0;
}

.center {
  text-align: center;
}

.btn {
  font: 14px Gotham;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

.btn-pink {
  background: #cd3c5e;
  color: #fff;
  width: 260px;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #61626b;
  width: 220px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
  color: #61626b;
}

.or-choose {
  margin: 10px 0 0 0;
  font-size: 13px;
  font-style: italic;
}
.or-choose .line {
  border-bottom: 1px solid #000;
  height: 1px;
  margin: 0px 7px 0px 7px;
  width: 84px;
  display: inline-block;
  vertical-align: middle;
}

.grey-line1 {
  height: 3px;
  background: url(../images/grey-line1.png) repeat-x;
}

.btn-pink-line {
  height: 3px;
  background: url(../images/pink-line.png) repeat-x;
}

.circle1 {
  display: inline-block;
  background-image: url('../images/small-icons-s01271a08a1.png');
  background-position: 0 0;
}

.circle2 {
  display: inline-block;
  background-image: url('../images/small-icons-s01271a08a1.png');
  background-position: 0 -164px;
}

.circle3 {
  display: inline-block;
  background-image: url('../images/small-icons-s01271a08a1.png');
  background-position: 0 -328px;
}

.circul {
  display: inline-block;
  background-image: url('../images/small-icons-s01271a08a1.png');
  background-position: 0 -492px;
}

.hunter {
  display: inline-block;
  background-image: url('../images/small-icons-s01271a08a1.png');
  background-position: 0 -524px;
}

.lineika {
  display: inline-block;
  background-image: url('../images/small-icons-s01271a08a1.png');
  background-position: 0 -549px;
}

.circle1, .circle2, .circle3 {
  width: 158px;
  height: 159px;
}

.circul {
  width: 14px;
  height: 27px;
}

.hunter {
  width: 22px;
  height: 20px;
}

.lineika {
  width: 21px;
  height: 22px;
}

.ic {
  font-family: 'FontIcomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #cd3c5e;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-ic:before {
  content: "\e600";
}

.icon-right-ic:before {
  content: "\e601";
}

.icon-left-ic:before {
  content: "\e602";
}

.icon-icon06:before {
  content: "\e603";
}

.icon-icon05:before {
  content: "\e604";
}

.icon-icon04:before {
  content: "\e605";
}

.icon-icon03:before {
  content: "\e606";
}

.icon-icon01:before {
  content: "\e607";
}

.icon-image_icon:before {
  content: "\e608";
}

.icon-resize_icon:before {
  content: "\e609";
}

.icon-upload_icon:before {
  content: "\e60a";
}

.icon-vk:before {
  content: "\e60b";
}

.icon-ins:before {
  content: "\e60c";
}

.icon-fb:before {
  content: "\e60d";
}

.icon-scrolled:before {
  content: "\e60e";
}

.icon-scroll:before {
  content: "\e60f";
}

.icon-logo:before {
  content: "\e610";
}

/***
 * BxSlider v4.2.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 ***/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #cb6a85;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fff;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .icon-left-ic {
  left: 10px;
}

.bx-wrapper .icon-right-ic {
  right: 10px;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 80%;
  margin-top: -16px;
  outline: 0;
  z-index: 9999;
  color: #fff;
  opacity: .5;
  text-decoration: none;
  font-size: 40px;
  width: 42px;
}

.bx-wrapper .bx-controls-direction a:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.intrance .intrance_block {
  margin: 220px 0 0 0;
}
.intrance .intrance_block .icon-logo {
  font-size: 50px;
}
.intrance .intrance_text {
  font-size: 16px;
  font-style: italic;
  margin: 0 0 30px 0;
}
.intrance .scroll {
  margin: 125px 0 0 0;
}
.intrance .scroll .scroller:hover {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px);
}
.intrance .scroll .scroller {
  cursor: pointer;
  transition: transform .5s;
}
.intrance .scroll p {
  font-size: 13px;
  font-style: italic;
}
@-webkit-keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}
@keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}
@-webkit-keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}
@keyframes scroll-mouse {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15px;
  }
}
.intrance .scroll .mouse-container {
  position: relative;
  display: block;
}
.intrance .scroll .mouse-container a {
  display: inline-block;
}
.intrance .scroll .mouse {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 22px;
  height: 35px;
  border: solid 2px #61626b;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s;
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.intrance .scroll .mouse .scroll-down {
  display: block;
  width: 5px;
  height: 8px;
  background: #61626b;
  border-radius: 50%;
  margin: 15% auto auto auto;
  -webkit-animation: scroll-inner 1.5s;
  animation: scroll-inner 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.navbar {
  margin: 0;
  line-height: 50px;
}
.navbar li a {
  font: 12px Gotham, "Helvetica", "Arial", sans-serif;
  color: #61626b;
  text-transform: uppercase;
  font-weight: 600;
  padding: 21px 10px;
}
.navbar .navbar-brand {
  font: 26px Gotham, "Helvetica", "Arial", sans-serif;
  color: #61626b;
  text-transform: none;
  font-weight: 600;
  margin: 0 20px 0 0;
  padding: 0;
}
.navbar .shape-nav {
  float: left;
  margin: 10px 0 0 0;
}
.navbar .capp {
  margin: 10px 0 0 10px;
  display: inline-block;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
  color: #cd3c5e;
}
.navbar .navbar-right li {
  margin-right: 30px;
  cursor: pointer;
}
.navbar .navbar-right li .ic {
  font-size: 16px;
  color: #61626b;
}
.navbar .navbar-right li .ic:hover {
  color: #cd3c5e;
}
.navbar .try_free {
  width: 220px;
  font-size: 12px;
}

.circles {
  color: #fff;
}
.circles p {
  font-style: italic;
}
.circles .center {
  margin: 145px 0 85px 0;
}
.circles .center p {
  font-size: 16px;
}
.circles .col-lg-4 {
  text-align: center;
}
.circles .col-lg-4 .circle1,
.circles .col-lg-4 .circle2,
.circles .col-lg-4 .circle3 {
  margin: 0 0 30px 0;
}
.circles .col-lg-4 h4 {
  font: 22px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}
.circles .col-lg-4 .line {
  width: 30px;
  height: 1px;
  border-bottom: 1px solid #61626b;
  margin: 10px auto;
}
.circles .col-lg-4 p {
  font-size: 14px;
}

.why-we {
  height: 964px;
}
.why-we .center {
  margin: 145px 0 82px 0;
}
.why-we .center .row {
  margin: 0 0 80px 0;
}
.why-we .first {
  margin: 0 0 88px 0;
}
.why-we .center p {
  font-style: italic;
}
.why-we .col-lg-4 .ic {
  font-size: 20px;
}
.why-we .col-lg-4 .small-icon {
  margin: -12px 20px 0 0;
}
.why-we .col-lg-4 .icon-icon05 {
  display: inline-block;
}
.why-we .col-lg-4 h4 {
  font: 15px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.why-we .col-lg-4 .small-line {
  width: 20px;
  height: 1px;
  border-bottom: 2px solid #cd3c5e;
  display: inline-block;
}
.why-we .col-lg-4 p {
  font-size: 14px;
  font-style: italic;
  max-width: 283px;
  line-height: 25px;
  margin: 10px 0 0 0;
}

.for-slider {
  text-align: center;
  color: #fff;
}
.for-slider .col-lg-12 {
  margin: 160px 0 0 0;
}
.for-slider img {
  width: 162px;
  margin: 0 auto;
}
.for-slider h3 {
  font: 22px Gotham, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.for-slider p, .for-slider span {
  font-style: italic;
}
.for-slider span {
  font-size: 12px;
}
.for-slider p {
  font-size: 16px;
}
.for-slider button {
  margin: 190px 0 0 0;
}
.for-slider .bx-wrapper .bx-prev,
.for-slider .bx-wrapper .bx-next {
  background: none;
}

.slider_bottom_p {
  font-style: italic;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
}
.slider_bottom_p .slider_bottom_text:before, .slider_bottom_p .slider_bottom_text:after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px solid #fff;
  margin-top: .6em;
  opacity: 0.2;
}
.slider_bottom_p .slider_bottom_text:before {
  margin-left: -101%;
}
.slider_bottom_p .slider_bottom_text:after {
  margin-left: 1%;
}

.gallery .center {
  margin: 170px 0 110px 0;
}
.gallery .gallery-block ul {
  padding: 0;
}
.gallery .gallery-block ul li {
  display: inline-block;
  font: 12px Gotham, "Helvetica", "Arial", sans-serif;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.gallery .gallery-block ul li:hover,
.gallery .gallery-block ul li.active {
  background: #61626b;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.gallery .gallery-block .gallery-nav {
  float: left;
}
.gallery .gallery-block .search {
  float: right;
}
.gallery .gallery-block .search .icon-search-ic {
  color: #61626b;
}
.gallery .gallery-block .search .btn {
  background: none;
  padding: 0;
}
.gallery .gallery-block .gallery-pictures {
  clear: both;
}
.gallery .gallery-block .gal-pic {
  margin: 0 10px 30px 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#bcbcbc)";
  /*IE 8*/
  -moz-box-shadow: 0px 5px 7px #bcbcbc;
  /*FF 3.5+*/
  -webkit-box-shadow: 0px 5px 7px #bcbcbc;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0px 5px 7px #bcbcbc;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#bcbcbc);
  /*IE 5.5-7*/
}
.gallery .gallery-block .gal-pic:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#999999)";
  /*IE 8*/
  -moz-box-shadow: 0px 5px 7px #999999;
  /*FF 3.5+*/
  -webkit-box-shadow: 0px 5px 7px #999999;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0px 5px 7px #999999;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#999999);
  /*IE 5.5-7*/
}

.footer {
  color: #fff;
}
.footer .first {
  margin: 70px 0 10px 0;
}
.footer .brand .icon-logo {
  font-size: 45px;
  float: left;
  margin: 0 7px 0 0;
}
.footer .brand p {
  font: 34px Gotham, "Helvetica", "Arial", sans-serif;
  line-height: 13px;
  margin: 10px 0 0 0;
}
.footer .brand .credo {
  font: 10px Gotham, "Helvetica", "Arial", sans-serif;
}
.footer .footer-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font: 12px GothamBold, "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
.footer .footer-nav li {
  margin: 15px 0;
  cursor: pointer;
}
.footer .footer-nav li:hover {
  color: #cd3c5e;
}
.footer .subcribe {
  font-style: italic;
  font-size: 13px;
  color: #d8d8d9;
}
.footer .subcribe input {
  background: #4b4c52;
  padding: 10px 0 10px 15px;
  border: none;
  width: 285px;
  margin: 0 4px 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.footer .subcribe button {
  font: 12px GothamBold, "Helvetica", "Arial", sans-serif;
  color: #61626b;
  text-transform: uppercase;
  width: 140px;
}

.copy {
  padding: 87px 0 34px 0;
}

.copyright {
  font-style: italic;
  font-size: 13px;
  color: #d8d8d9;
  margin: 10px 0 0 0;
}
.copyright a {
  color: #d8d8d9;
  text-decoration: underline;
}

.grey_line {
  border-bottom: 1px solid #313238;
  height: 1px;
  width: 100%;
}

.bg1 {
  background: url(../images/bg1.png) no-repeat;
  height: 825px;
}

.bg-pink {
  background: url(../images/bg-pink.png) no-repeat;
  height: 793px;
}

.bg-pink2 {
  background: url(../images/bg-pink2.png) no-repeat;
  height: 797px;
  position: relative;
}

.bg_footer {
  background: #37383e;
}

.bg1, .bg-pink, .bg-pink2 {
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
