.gallery{


	.center{
		margin: 170px 0 110px 0;
	}
	.gallery-block{
		ul{
			padding: 0;
		}

		ul li{
			display: inline-block;
			font: 12px $gotham_font;
			padding: 10px;
			text-transform: uppercase;
			cursor: pointer;
		}
		ul li:hover,
		ul li.active{
			background: $black;
			color:$white;
			@include border-radius(3px);
		}	

		.gallery-nav{
			float: left;			
		}
		.search{
			float: right;
            margin: 0 20px 0 0;
            border: 1px solid #e8e8e8;
            padding: 7px 10px;

            .icon-search-ic{
              color:$black;
            }

            .animated-input{
              width: 0;
              border: none;
              font-style: italic;
            }

            .glyphicon-remove-circle{
              display: none;
              cursor: pointer;
              &:hover{
                color:$pink;
              }
            }

			.btn{
				background: none;
                padding: 0;
			}
		}

		.gallery-pictures{
			clear: both;
		}
	
		.gal-pic{
			margin: 0 10px 30px 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#bcbcbc)";/*IE 8*/
			-moz-box-shadow: 0px 5px 7px #bcbcbc;/*FF 3.5+*/
			-webkit-box-shadow: 0px 5px 7px #bcbcbc;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
			box-shadow: 0px 5px 7px #bcbcbc;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#bcbcbc); /*IE 5.5-7*/
		}

		.gal-pic:hover{
			-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#999999)";/*IE 8*/
			-moz-box-shadow: 0px 5px 7px #999999;/*FF 3.5+*/
			-webkit-box-shadow: 0px 5px 7px #999999;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
			box-shadow: 0px 5px 7px #999999;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
			filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color=#999999); /*IE 5.5-7*/
		}
	}
}