
.ic {
  font-family: 'FontIcomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:$pink;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-ic:before {
  content: "\e600";
}

.icon-right-ic:before {
  content: "\e601";
}

.icon-left-ic:before {
  content: "\e602";
}

.icon-icon06:before {
  content: "\e603";
}

.icon-icon05:before {
  content: "\e604";
}

.icon-icon04:before {
  content: "\e605";
}

.icon-icon03:before {
  content: "\e606";
}

.icon-icon01:before {
  content: "\e607";
}

.icon-image_icon:before {
  content: "\e608";
}

.icon-resize_icon:before {
  content: "\e609";
}

.icon-upload_icon:before {
  content: "\e60a";
}

.icon-vk:before {
  content: "\e60b";
}

.icon-ins:before {
  content: "\e60c";
}

.icon-fb:before {
  content: "\e60d";
}

.icon-scrolled:before {
  content: "\e60e";
}

.icon-scroll:before {
  content: "\e60f";
}

.icon-logo:before {
  content: "\e610";
}

