.for-slider{
	text-align: center;
	color:$white;
	

	.col-lg-12{
		margin: 160px 0 0 0;
	}
	img{
		width: 162px;
		margin: 0 auto;
	}
	h3{
		font: 22px $gotham_font;
		text-transform: uppercase;
	}
	p,span{
		font-style: italic; 		
	}	
	span{
		font-size: 12px;
	}
	p{
		font-size: 16px;
	}
	button{
		margin: 190px 0 0 0;
	}

	.bx-wrapper .bx-prev,
	.bx-wrapper .bx-next{
		background: none;
	}
}
	.slider_bottom_p{
		font-style: italic; 
		font-size: 14px;
		color:$white;
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        text-align: center;
        overflow: hidden;

		  .slider_bottom_text{

              &:before,
              &:after{
                content: '';
                position: absolute;
                width: 100%;
                border-top: 1px solid $white;
                margin-top: .6em;
                opacity: 0.2;
              }

                &:before {
                  margin-left: -101%;
                }
                &:after {
                  margin-left: 1%;
                }
          }

	}