$small_icons_arr:circle1,circle2,circle3,circul,hunter,lineika;

@each $small_icon in $small_icons_arr{
	.#{$small_icon}{
		display: inline-block;
		background-image: sprite-url($icons);
		background-position: sprite-position($icons,#{$small_icon});		
	}
}

.circle1,.circle2,.circle3{
	width: 158px;
	height: 159px;
}

.circul{
  width: 14px;
  height: 27px;
}
.hunter{
  width: 22px;
  height: 20px;
}
.lineika{
  width: 21px;
  height: 22px;
}