@import "compass/css3"; 
@import "compass/utilities/sprites";

@import "common";
@import "small-icons";
@import "icomoon";
@import "bxslider";
@import "intrance";
@import "nav";
@import "circles";
@import "why-we";
@import "slider";
@import "gallery";
@import "footer";

.bg1{
	background: url(../images/pics1x.png) no-repeat, url(../images/bg-s.png) repeat;
	//height: 825px;
    width: 1438px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .bg1{background: url(../images/pics@2x.png) no-repeat, url(../images/bg.png) repeat;}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .bg1{background: url(../images/pics@2x.png) no-repeat, url(../images/bg.png) repeat;}
}

.bg-pink{
	background: url(../images/bg-pink.png) no-repeat;
	height: 793px;
}

.bg-pink2{
	background: url(../images/bg-pink2.png) no-repeat;
	height: 797px;
	position: relative;
}

.bg_footer{
	background: #37383e;
}

.bg-pink,.bg-pink2{
  background-size: cover;
}